<div class="d-flex" style="align-items: baseline">
  <h1> <%= @cocktail.name %> </h1>
  <i class="fas fa-cocktail ml-2"></i>
</div>

<hr>
<h2>Ingredients</h2>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.description %> <%= dose.ingredient.name %> </li>

    <%= link_to dose_path(dose), method: :delete, class: "text-info", data: { confirm: 'Are you sure?'} do %>
      <i class="fa fa-trash"></i>
    <% end %>

  <% end %>
</ul>

<!-- cocktail name
     list of ingredients
     nested form to add doses -->
<hr>
<%= link_to "⟲ Back to Cocktails", cocktails_path %> |
<%= link_to "+ Add new dose", new_cocktail_dose_path(@cocktail) %> |
